<%- include('header') %>

  <body class="waitMe_body">
    <!-- Loading animation  -->
    <div class="waitMe_container img" style="background:#fff">
      <div style="background:url('../lib/loading-plugin/img.svg')"></div>
    </div>
    
    <%- include('navbar') %>
    
    <!-- form container  -->
    <form action="/user/<%= action %>" method="POST" enctype="multipart/form-data" class="container">
      <!-- w container  -->
      
      <div id="w">
        <div id="page">
          
          <%- include ('partials/messages') %>
          <!-- Applicant Details  -->
          <div id="content-register">
            <h2><%= For %></h2>
            <div class="content">

              <% if(action != 'volunteer') { %>
              <!-- Applicant name  -->
              <div class="form-group row">
                    <label class="col-md-5" for="aname">Applicant Name</label>
                    <input
                      type="text"
                      name="name"
                      id="aname"
                      class="form-control col-md-7"
                      autocomplete="on"
                    />
                  </div>
  
                <!-- Mobile number  -->
                <div class="form-group row">
                    <label class="col-md-5" for="mobile">Contact Number: </label>
                    <input
                      name="mobile"
                      id="mobile"
                      placeholder="+91"
                      type="tel"
                      minlength="10"
                      class="form-control col-md-7"
                    />
                </div>
  
                <!-- Age  -->
                <div class="form-group row">
                  <label class="col-md-5" for="age">Age</label>
                  <input
                    type="number"
                    name="age"
                    id="age"
                    class="form-control col-md-7"
                  />
                </div>
            
                <!-- Address  -->
                <div class="form-group row">
                    <label class="col-md-5" for="fname">Current Address</label>
                    <textarea id="address" name="currentAddress" cols="40" rows="5" class="form-control col-md-7" required="required"></textarea>
                </div>

              <% } %>
            
                <!-- FOR symptoms  -->
                <% if(action === 'sympotoms' || action === 'doctor') { %>
                <!-- Symptom name  -->
                <div class="form-group row pt-4">
                  <label class="col-md-5" for="fname">Symptoms Name</label>
                  <input
                    type="text"
                    name="symptomName"
                    placeholder="ex.cold, cough"
                    required="required"
                    id="fname"
                    class="form-control col-md-7"
                    autocomplete="on"
                  />
                </div>
                
                <!-- how Long name  -->
                <div class="form-group row">
                  <label class="col-md-5" for="fname">How many days ?</label>
                  <input
                    type="number"
                    name="days"
                    id="fname"
                    required="required"
                    class="form-control col-md-7"
                  />
                </div>

                   <!-- how Tablets name  -->
                <div class="form-group row">
                  <label class="col-md-5" for="fname">If you take any tablets?</label>
                  <input
                    type="text"
                    name="tablets"
                    id="fname"
                    required="required"
                    placeholder="ex.pharacetamal,"
                    class="form-control col-md-7"
                  />
                </div>
  
                  <!-- Question no - 1  -->
                  <div class="form-group row">
                    <label class="col-md-5">After you are go to hospital or Not?</label>
                    <div class="yesOrNo col-md-7">
                        <div class="custom-control custom-radio custom-control-inline">
                        <input name="hospitalGo" id="hospital_0" type="radio" class="custom-control-input" value="true" 
                        >
                        <label for="hospital_0" class="custom-control-label">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                        <input name="hospitalGo" checked="checked"  id="hospital_1" type="radio" class="custom-control-input" value="false">
                        <label for="hospital_1" class="custom-control-label">No</label>
                        </div>
                    </div>
                </div>

                <!-- how Long name  -->
                <div class="form-group row">
                  <label class="col-md-5" for="fname">If yes put name of the Hospital ?</label>
                  <input
                    type="text"
                    name="hospitalName"
                    id="fname"
                    required="required"
                    placeholder="ex.kauveri hospital, kodampakkam, chennai - 600 002,"
                    class="form-control col-md-7"
                  />
                </div>
                <% } %>

                <!-- For Food  -->
                <% if(action === 'food') { %>
                <!-- how Long name  -->
                <div class="form-group row">
                  <label class="col-md-5" for="fname">How many members do you have ?</label>
                  <input
                    type="number"
                    name="foodmembers"
                    id="fname"
                    class="form-control col-md-7"
                    required="required"
                  />
                </div> 

                 <!-- Food type  -->
                 <div class="form-group row">
                    <label class="col-md-5" for="foodlist">What type of food do you want ?</label>
                    <textarea id="foodlist" name="foodlist" cols="40" rows="5" class="form-control col-md-7" required="required" placeholder="Ex. Fruits, Vegetables,"></textarea>
                </div>
                <% } %>

                <% if(action === 'transport') { %>
                <div class="form-group row">
                    <label class="col-md-5" for="month">How many month you want ?</label>
                    <input
                        type="number"
                        name="transportMonth"
                        id="month"
                        class="form-control col-md-7"
                        required="required"
                    />
                </div>  

                 <!-- transport  -->
                 <div class="form-group row">
                    <label for="transport" class="col-md-5">Transport Type</label>
                    <div class="col-md-7">
                      <select id="transport" name="transportType"  class="custom-select">
                        <option value="car">Indian</option>
                        <option value="two-wheeler">Canadian</option>
                        <option value="auto">American</option>
                      </select>
                    </div>
                  </div>
                <% } %>
                
                <!-- For filling hospital admisstion -->
                <% if(action === 'hospital') { %>
                    <div class="form-group row">
                        <label class="col-md-5" for="hname">Which hopital you visit before ?</label>
                        <input
                            type="text"
                            name="hospitalName"
                            id="hname"
                            class="form-control col-md-7"
                            required="required"
                        />
                    </div>

                    <!-- Address  -->
                    <div class="form-group row">
                        <label class="col-md-5" for="fname">Hospital Full Address</label>
                        <textarea id="address" required="required" name="hospitalAddress" cols="40" rows="5" class="form-control col-md-7" required="required"></textarea>
                    </div>

                    <!-- upload doctor medical sheet  -->
                    <div class="pt-2 form-group row">
                        <label for="avatar" class="col-md-5">Medial Sheet photo</label>
                        <input id="avatar" required="required" name="medicalSheet" type="file"  aria-describedby="avatarHelpBlock"
                            class="form-control col-md-7">
                    </div>
                <% } %>

              </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <!-- /end #applicant-details -->
          </div>
        <!-- /end #page -->
      <!-- /end #w -->
    </form>

<%- include('footer') %>
<script src='../js/state.js'></script>
<script src='../js/state1.js'></script>

</body>
</html>