<%- include('header') %>

<%- include('navbar') %>

<body>
    <div id="pass-change" style="overflow: hidden;">
      <div class="col-md-6 m-auto">
        <div class="card card-body">          
            <h1 class="text-center mb-3">
              Set password
            </h1>
                              
            <%- include ('partials/messages') %>

          <form action="/user/password-reset/<%= user.resetToken %>" method="POST">
                  <!-- email  -->
                <div class="form-group row">
                  <label for="email" class="col-md-5">
                    Email Address</label>
                  <input
                    type="email"
                    name="email"
                    id="loginemail"
                    class="form-control col-md-7"
                    autocomplete="on"
                    value="<%= user.email %>"
                    readonly
                    >
                </div>  
    
                <!-- Password name  -->
              <div class="form-group row pt-4">
                <label class="col-md-5" for="fname">
                  <span class="fa fa-edit p-2"></span>
                  Password</label>
                <input
                  type="password"
                  name="password"
                  class="form-control col-md-7"
                  autocomplete="off"
                />
              </div>

              <!-- Confirm Password-->
              <div class="form-group row">
                <label class="col-md-5" for="fname">
                  <span class="fa fa-edit p-2"></span>
                  Confirm Password</label>
                <input
                  type="password"
                  name="password2"
                  class="form-control col-md-7"
                  autocomplete="off"
                />
              </div>

            <button type="submit" class="btn btn-primary btn-block submit">
              Update
            </button>
          </form>
          
        </div>
      </div>
    </div>

<%- include('footer') %>
  </body>
</html>