 <%- include('header') %>
  <body>

    <!-- Get user id  -->
    <script>
      var id = '<%= Id %>';
      var username = '<%= userName %>';
    </script>
      
    <%- include('navbar') %>

    <div id="user-dashboard">
          <div class="side-panel">
            <div class="profile">
                <a href="/user/logout" class="fa fa-sign-out logout"></a>
                  <img src="../img/uploaded_images/<%= profile %>" alt="profile">
                <a href="#" class="fa fa-edit edit"></a>
            </div>

            <div class="dropdown">
                <button type="button" id="toggle-apply" class="btn btn-primary" data-toggle="dropdown">
                  Apply
                  <span class="fa fa-caret-down"></span>
                </button>
                <div id="apply">
                  <a class="dropdown-item" href="/user/sympotoms">Inform for Sympotoms</a>
                  <a class="dropdown-item" href="/user/food">Food Help</a>
                  <a class="dropdown-item" href="/user/transport">Transport Pass</a>
                  <a class="dropdown-item" href="/user/personal">Personal Pass</a>
                  <a class="dropdown-item" href="/user/hospital">Hospital Admission</a>
                  <a class="dropdown-item" href="/user/doctor">Doctor Appointment</a>
                  <a class="dropdown-item" href="/user/lab">Lab Result</a>
                  <a class="dropdown-item" type="button" data-toggle="modal" data-target="#pop-confirmation" href="#">Volunteer</a>
                </div>
            </div>

            <div class="dropdown">
                <button type="button" id="toggle-location" class="btn btn-primary" data-toggle="dropdown">
                  Locations
                  <span class="fa fa-caret-down"></span>
                </button>
                <div id="location">
                  <a class="dropdown-item" href="#hospitals">Near Hospitals</a>
                  <a class="dropdown-item" href="#pharmacy">Near Pharmacy</a>
                  <a class="dropdown-item" href="#shelter">Near Shelter</a>
                </div>
            </div>

            <button class="btn btn-primary" id="show-num">Toll-Free No</button>
            <button class="btn btn-primary">Give Fund</button>
            <button class="btn btn-primary">Covid Products</button>
          </div>

          <!-- Toll free numbers  -->
          
            <div id="toll-free">
              <div class="heading">
                  <h2>Contact</h2>
                  <button class="close">&times;</button>
              </div>
              <!-- State  -->
            <div class="form-group">
              <select id="state" onchange='selct_district(this.value)' name="state" 
                class="custom-select">
              </select>
            </div>

            <% numberlist.forEach(data => { %>
              <div class="number important">
                <h3><%= data.name %></h3>
                <a href="tel:+<%= data.number %>">
                    <span class="fa fa-phone"></span>
                    <%= data.number %> 
                </a>
            </div>
            <% }) %>
            
        </div>
          <!-- Main panel  -->
          <div class="main-panel">
            <%- include('partials/messages') %>

            <section id="statistics">
                <div class="analysis">
                  <div class="box">
                    <select class="form-control" onchange="getCountryReport()" id="country">
                      <option value="Global">World</option>
                      <option value="India">India</option>
                      <option value="China">China</option>
                      <option value="Pakistan">Pakistan</option>
                      <option value="Italy">Italy</option>
                      <option value="Australia">Australia</option>
                      <option value="America">Russia</option>
                    </select>
                  </div>
                  <div class="box">
                    <img src="../img/icon.png" alt="" />
                    <div class="value">
                      <h3 id="confirmed">0</h3>
                      <p>Total Case</p>
                    </div>
                  </div>
                  <div class="box">
                    <img src="../img/icon.png" alt="" />
                    <div class="value">
                      <h3 id="active">0</h3>
                      <p>Active Cases</p>
                    </div>
                  </div>
                  <div class="box">
                    <img src="../img/icon.png" alt="" />
                    <div class="value">
                      <h3 id="deaths">0</h3>
                      <p>Deaths</p>
                    </div>
                  </div>
                  <div class="box">
                    <img src="../img/icon.png" alt="" />
                    <div class="value">
                      <h3 id="recovered">0</h3>
                      <p>Recovered</p>
                    </div>
                  </div>        
                </div>
                <div class="chart">
                    <div class="option">
                      <div class="radio-group">
                        <input type="radio" checked id="a-select" class="checkmark" onclick="showGraph('active')" name="option">
                        <label for="a-select">
                          <div class="check"></div>
                          Active
                        </label>
                      </div>
          
                    <div class="radio-group">
                      <input type="radio" id="c-select" class="checkmark" onclick="showGraph('confirmed')" name="option">            
                      <label for="c-select">
                        <div class="check"></div>
                        Confirmed
                      </label>
                      </div>
          
                      <div class="radio-group">
                        <input type="radio" id="d-select" class="checkmark" onclick="showGraph('deaths')" name="option">        
                        <label for="d-select">
                          <div class="check"></div>
                          Deaths
                        </label>
                      </div>
                      <div class="radio-group">
                        <input type="radio" id="r-select" class="checkmark" onclick="showGraph('recovered')" name="option">        
                        <label for="r-select">
                          <div class="check"></div>
                          Recovered
                        </label>
                      </div>
                  </div>
                  <canvas id="chart"></canvas>
                </div>
              </section>
              <section id="maps">
                <h2 id="hospitals">Near Hospitals</h2>
                <hr>
                  <!-- near public hospitals  -->
                <div class="hospitals">
                  <iframe
                    frameborder="0"
                    style="border: 0;"
                    src="https://www.google.com/maps/embed/v1/place?q=hospials&key=AIzaSyAS8rL1Hve4mEPQhQwvNxghLZ5h4dY0duQ"
                    allowfullscreen
                  ></iframe>
                </div>
                
                <h2 id="pharmacy">Near Pharmacy</h2>
                <hr>
                <!-- Near pharmacy -->
                <div class="pharmacy">
                  <iframe
                  frameborder="0"
                  style="border: 0;"
                  src="https://www.google.com/maps/embed/v1/place?q=pharmacy&key=AIzaSyAS8rL1Hve4mEPQhQwvNxghLZ5h4dY0duQ"
                  allowfullscreen
                ></iframe>
                </div>

                <h2 id="shelter">Near Shelters</h2>
                <hr>
                <!-- Near public shelter  -->
                <div class="shelters">
                  <iframe
                    frameborder="0"
                    style="border: 0;"
                    src="https://www.google.com/maps/embed/v1/place?q=shelters&key=AIzaSyAS8rL1Hve4mEPQhQwvNxghLZ5h4dY0duQ"
                    allowfullscreen
                  ></iframe>
                </div>
              </section>

              <section id="articals">
                  <h1>Articles</h1>
                  <hr>
                <div class="card-group">
                    <div class="card m-2">
                      <img class="card-img-top" src="../img/profile.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>

                    <div class="card m-2">
                      <img class="card-img-top" src="../img/profile3.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>

                    <div class="card m-2">
                      <img class="card-img-top" src="../img/covid19.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>
              </section>
          </div>
    </div>

    <!-- Modal open when click the voluteer button  -->
     <!--Confirmatio Modal -->
     <div class="modal fade" id="pop-confirmation" tabindex="-1" role="dialog" aria-labelledby="pop-confirmationTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Verify once again</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            If you want to become a volunteer of our community kindly read it our
            <a href="#" class="text-primary">instruction for the volunteer</a>. <br> After click the <span class="text-danger">Enable</span> button to know your location asap.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-success" id="pop-up"  onclick="setVolunteer('<%= Id %>')">Enable</button>
          </div>
        </div>
      </div>
    </div>

    <!--Intimation for success Modal -->
    <div class="modal fade" id="pop-intimation" tabindex="-1" role="dialog" aria-labelledby="pop-intimationTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-success" id="exampleModalLongTitle">Success</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              Successfully you are added a volunteer list!
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
          </div>
        </div>
      </div>
    </div>

    <!--Intimation for Not verified Modal -->
    <div class="modal fade" id="pop-not-verified" tabindex="-1" role="dialog" aria-labelledby="pop-not-verifiedTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-warning">Not Verified</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              Currently you're Not Verified User! Kindly check after verification!
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
          </div>
        </div>
      </div>
    </div>

      <!--Intimation for Override Modal -->
      <div class="modal fade" id="pop-override" tabindex="-1" role="dialog" aria-labelledby="pop-overrideTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary">You're already a Volunteer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                Oops! you are already volunteer of our community asap!
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
            </div>
          </div>
        </div>
      </div>

      <!--Intimation for Error Modal -->
      <div class="modal fade" id="pop-error" tabindex="-1" role="dialog" aria-labelledby="pop-not-verifiedTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-danger">Problem</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                Something went wrong! try again !
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
            </div>
          </div>
        </div>
      </div>  

<%- include('chat-box') %>
  
<%- include('footer') %>
    <script src="../js/fetchAPI.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/state.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/user-chat.js"></script>
  </body>
</html>